@model RoleVM


@{
    ViewData["Title"] = "Editar rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Editar Rol</h3>

        <form asp-controller="Rol" asp-action="UpdateRole" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row mt-4">
                <div class="col-sm-6 offset-3">

                    <div class="mb-3">
                        <label asp-for="Name" class="col-md-2"></label>
                        <input asp-for="Name" class="form-control" placeholder="Enter Rol name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NumOfUrls" class="col-md-2"></label>
                        <input asp-for="NumOfUrls" class="form-control" placeholder="Insert num of URLs of this role" />
                        <span asp-validation-for="NumOfUrls" class="text-danger"></span>
                    </div>


                    <div class="row">
                        <div class="col-sm-10 offset-2">
                            <button type="submit" class="btn btn-success w-75 btn-lg">Update Rol <i class="bi bi-arrow-right-circle-fill"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


