@{
    ViewData["Title"] = "Url shortener";
}

<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Url Shortener</h1>
            <img href="/Content/images/home.jpg" alt="imagen cadenas" />
            <p class="card-text">The best option to get short url, and, remember, its FREE</p>
            <a asp-controller="Users" asp-action="Register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>
